/* base.css */
/* Reset e Estilos Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Esquema de Cores Principal */
    --primary-color: #FF6B00;      /* Laranja vibrante */
    --primary-dark: #CC5500;       /* Laranja escuro */
    --secondary-color: #2D2D2D;    /* Cinza escuro quase preto */
    --accent-color: #FFB380;       /* Laranja claro para acentos */
    
    /* Texto */
    --text-color: #000000;         /* Para uso em fundos claros */
    --text-dark: #ffffff;          /* Para uso em fundos escuros */
    --text-light: #000000;         /* Texto secundário em fundos claros */
    --text-light-dark: #ddddddf3;    /* Texto secundário em fundos escuros */
    
    /* Backgrounds */
    --background: #F8F8F8;         /* Fundo principal claro */
    --background-alt: #f5f7fa;     /* Fundo alternativo claro */
    --background-dark: #121212c4;    /* Fundo principal escuro */
    --background-dark-alt: #1e1e1e; /* Fundo alternativo escuro */
    
    /* Glassmorphism */
    --glass-background: rgba(255, 255, 255, 0.25);
    --glass-background-dark: rgba(35, 35, 35, 0.1);
    --glass-border: rgba(150, 124, 38, 0.406);
    --glass-border-dark: rgba(255, 255, 255, 0.249);
    --glass-shadow: 0 8px 32px 0 rgba(126, 81, 29, 0.507);
    --glass-blur: blur(12px);
    
    /* Espaçamentos */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.8rem;
    --spacing-lg: 3rem;
    --spacing-xl: 5rem;

    /* Borda */
    --border-radius: 12px;

    /* Transições */
    --transition: all 0.5s ease;

      /* Adicionando as variáveis técnicas faltantes */
    --grid-color: rgba(255, 106, 0, 0.3);
    --grid-color-dark: rgba(255, 107, 0, 0.3);
    --blueprint-blue: #55381ed9;
    --metal-gray: #AAAAAA;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Modo Escuro - Ajustes Básicos */
body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Fundos técnicos para o modo claro */
body {
    background-image: 
      linear-gradient(rgba(50, 21, 0, 0.331) 1px, transparent 1px),
      linear-gradient(90deg, rgba(51, 21, 1, 0.365) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  /* Fundos técnicos para o modo escuro */
  body.dark-mode {
    background-image: 
      linear-gradient(var(--grid-color-dark) 1px, transparent 1px),
      linear-gradient(90deg, var(--grid-color-dark) 1px, transparent 1px);
    background-size: 20px 20px;
  }